/* Resetting Default Styles*/
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a 
{
    text-decoration: none;
    color: #000;
}

.hidden 
{
    display: none;
}

.bg-light-green
{
    background-color: rgba(27,189,156,255);
}

.text-dark-blue
{
    color: rgba(45,62,81,255);
}

/* GENERAL */
.lines-and-stars 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.line 
{
    width: 100px;
    height: 2px;
    background-color: #ffffff;
    margin-right: 10px;
}

.star 
{
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px; 
}

/* HEADER */
header
{
    color: white;
    background-color: rgba(45,62,81,255);
    height: 80px;
}

.start-bootstrap
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-link
{
    color: white;
    font-weight: bolder;
}

.hamburger-menu
{
    color: rgba(137,137,136,255);
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(220,221,220,255);
    border-radius: 5px;
}

/* MAIN */

/* SECTION 1 */
.section-1
{
    color: white;
    background-color: rgba(27,189,156,255);
}

#avatar
{
    height: 260px;
    width: 225px;
}

/* SECTION 2 */
.section-2
{
    color: rgba(45,62,81,255);
    background-color: white;
}

.section-2 .lines-and-stars 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.section-2 .line 
{
    width: 100px;
    height: 2px;
    background-color: rgba(45,62,81,255);
    margin-right: 10px;
}

.section-2 .star 
{
    color: rgba(45,62,81,255);
    font-size: 20px;
    margin-right: 10px; 
}

/* SECTION 3 */
.section-3
{
    color: white;
    background-color: rgba(27,189,156,255);
}

.lines-and-stars 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.line 
{
    width: 100px;
    height: 2px;
    background-color: #ffffff;
    margin-right: 10px;
}

.star 
{
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px; 
}

/* SECTION 4 */
.section-4
{
    color: rgba(45,62,81,255);
    background-color: white;
}

.section-4 .lines-and-stars 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.section-4 .line 
{
    width: 100px;
    height: 2px;
    background-color: rgba(45,62,81,255);
    margin-right: 10px;
}

.section-4 .star 
{
    color: rgba(45,62,81,255);
    font-size: 20px;
    margin-right: 10px; 
}

.form-control
{
    background-color: transparent !important;
}

.form-floating label
{
    color: rgba(45,62,81,255);
    font-size: large;
    margin-left: -10px;
}

.form-floating input.form-control 
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.form-floating textarea.form-control
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.form-floating input.form-control:focus 
{
    border-color: rgba(45,62,81,255);
    box-shadow: none;
}


/* FOOTER */

/* FOOTER TOP */
.footer-top
{
    color: white;
    background-color: rgba(58,84,109,255);
}

/* FOOTER BOTTOM */
.footer-bottom
{
    color: white;
    background-color: rgba(45,62,81,255);
}


